h1 {
  color: red;
  text-align: center;
}

body {
  background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/35411463_417787035361736_2621722404837130240_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=JIHYKSb1tN8AX_KEis8&_nc_ht=scontent-cdg2-1.xx&oh=fd0ab9548ebb47d3cf949941baa98854&oe=5EFDBC56');
}